<head> 
    <title>RU BOT</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/867825651671236609/1032981393090822214/logoo.png" type="image/png">
    <link rel="icon" href="https://media.discordapp.net/attachments/867825651671236609/1032981393090822214/logoo.png" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">   
    <link rel="stylesheet" href="/error/style.css">    
</head>
<body>>
    <div id="app"></div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/styled-components/3.2.1/styled-components.min.js'></script>
    <script> 
        const title = "<%= title %>"
        const message = "<%= message %>"
    </script>
    <script src='/error/script.js'></script> 
</body> 

